{% load i18n %}
{% load display_tags %}

<li class="nav-item">
    <a href="{% url 'customer:profile-view' %}" class="nav-link account-tab{% if active_tab == 'profile' %} active{% endif %}">
		<span class="fa-icon"><i class="far fa-user"></i></span>
		<span>{% trans "Profile" %}</span>
	</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:order-list' %}" class="nav-link account-tab{% if active_tab == 'orders' %} active{% endif %}">
		<span class="fa-icon"><i class="far fa-rectangle-list"></i></span>
		<span>{% trans "Order History" %}</span>
	</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:address-list' %}" class="nav-link account-tab{% if active_tab == 'addresses' %} active{% endif %}">
		<span class="fa-icon"><i class="far fa-address-book"></i></span>

		<span>{% trans "Address Book" %}</span>
	</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:email-list' %}" class="nav-link account-tab{% if active_tab == 'emails' %} active{% endif %}">
		<span class="fa-icon"><i class="fas fa-envelope-open-text"></i></span>
		<span>{% trans "Email History" %}</span>
	</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:alerts-list' %}" class="nav-link account-tab{% if active_tab == 'alerts' %} active{% endif %}">
		<span class="fa-icon"><i class="fas fa-bullhorn"></i></span>
		<span>{% trans "Product Alerts" %}</span>
	</a>
</li>
<li class="nav-item">
    <a href="{% url 'customer:notifications-inbox' %}" class="nav-link account-tab{% if active_tab == 'notifications' %} active{% endif %}">
		<span class="fa-icon"><i class="far fa-bell"></i></span>
		<span>{% trans "Notifications" %}</span>
	</a>
</li>
{% iffeature 'wishlists' %}
    <li class="nav-item">
        <a href="{% url 'customer:wishlists-list' %}" class="nav-link account-tab{% if active_tab == 'wishlists' %} active{% endif %}">
			{% trans "Wish Lists" %}
			<span class="fa-icon"><i class="fas fa-bell"></i></span>
			<span>{% trans "Wish Lists" %}</span>
		</a>
    </li>
{% endiffeature %}