{% extends "oscar/communication/emails/orders_base.html" %}
{% load currency_filters i18n %}

{% block header_content %}
	<tr>
		<td>
			<h2 style="font-weight: 200">
				{% trans "Order Invoice"}
			</h2>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				{% blocktrans with order_number=order.number %}DEHY: A New Order has Arrived ({{order_number}}){% endblocktrans %}
			</p>
		</td>
	</tr>

{% endblock header_content %}

{% block order_text_content %}
<tr>
	<td>
		<p>
			<a target="_blank" href="{{site.name}}{% url 'invoice' order.id %}"<span>Click here to print invoice</span></a>
		</p>
	</td>
</tr>
<tr>
    <td>
		<p>
			<span>Order: {{ order.number }} (placed on {{order.date_placed}})</span>
		</p>
    </td>
</tr>
{% endblock order_text_content %}


{% block order_summary_block %}
{{ block.super }}
{% endblock order_summary_block %}

{% block order_contents %}
{{ block.super }}
{% endblock order_contents %}
