{% load currency_filters %}
{% load i18n %}

<div id="mini_basket_container" class="slide-in from-right d-none">

	<div id="mini_basket" class="basket-mini col-12 col-md-10 col-lg-5 slide-in-content">

		<div class="">
			<div style="padding-top:16px" class="float-left">{% trans "Your cart" %}</div>
			<button id="close_mini_basket" style="padding: 8px; font-size:18px" type="button" class="btn-close float-right" aria-label="{% trans 'Close mini basket' %}"></button>
		</div>
		<div class="row clear"></div>
		<div id="mini_basket_form_container">
		{% include "dehy/basket/partials/basket_content.html" %}
		</div>
		<div class="row">
			<div class="col-12">
				<small><span style="font-style:italic; font-size: 12px;">{% trans "Taxes and shipping calculated at checkout" %}</span></small>
			</div>
		</div>

		<div class="row">
			<div class="col-12 d-inline-flex justify-content-between mb-4">
				<div class="d-inline-block">
					<a class="btn btn-small br-2" href="{% url 'basket:summary' %}">{% trans "Cart" %}</a>

				</div>
				<div class="d-inline-block">
					<a class="btn btn-small d-inline-block br-2" href="{% url 'checkout:index' %}">{% trans "Checkout" %}</a>
				</div>
			</div>
		</div>

		<div class="row justify-content-between">

		</div>

	</div>
</div>