{% load i18n %}
{% load currency_filters %}
{% load static %}

{# new #}
<nav id="navbar" class="fixed-top scroll-hide scrolled-up scrolled-top navbar-expand-lg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-3 col-lg-4 site-navigation-container site-nav">
				{% with url_name=request.resolver_match.url_name %}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#mobile_site_nav" aria-controls="#mobile_site_nav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse mt-2">
					<ul class="navbar flex-lg-row">
						<li class="nav-item">
							<a class="nav-link{% if url_name == 'index' or url_name == 'detail' or url_name == 'category' %} active{% endif %}"  href="{% url 'catalogue:index' %}">Shop</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'faq' %}#contact">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">FAQ</a>
						</li>
						<li class="nav-item d-lg-none">
							<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">Recipes</a>
						</li>
						<li class="nav-item d-lg-none">
							<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">Test</a>
						</li>
					</ul>
				</div>
				{% endwith %}
			</div>

			<div class="col-6 col-lg-4 brand-container text-center">
				<a class="navbar-brand" href="{% url 'home' %}" title="dehygarnish.com"><small> {{ shop_tagline }}</small>
					<img src="{% static 'img/brand.png' %}" alt="Dehy logo">
				</a>
			</div>
			<div class="col-3 col-lg-4 d-flex justify-content-end align-self-center">
				<div class="account-container mx-1">
					<a class="icon" href="{% url 'customer:login' %}">
				      <span class="svg-container">
				        <svg style="stroke-width:0.1rem; top:3px;"class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110">
						    <g>
						        <circle cx="50" cy="43.4" r="17.16"></circle>
						        <path d="M50,4A46,46,0,1,0,96,50,46.06,46.06,0,0,0,50,4ZM77.63,76.76a31.67,31.67,0,0,0-55.27,0A38.15,38.15,0,0,1,11.51,50,38.49,38.49,0,1,1,77.63,76.76Z"></path>
						    </g>
						</svg>
				      </span>
				    </a>
				</div>
				<div class="cart-container mx-1" data-controller="Cart">
			        <a aria-label="{{request.basket.num_items}} items in cart" data-test="continue-to-cart" class="icon icon-cart" href="{% url 'basket:summary' %}">
			          <span class="svg-container">
			            <svg viewBox="0 0 31 24" class="icon icon-cart">
						  <g class="svg-icon cart-icon">
						    <circle stroke-miterlimit="10" cx="22.5" cy="21.5" r="1"></circle>
						    <circle stroke-miterlimit="10" cx="9.5" cy="21.5" r="1"></circle>
						    <path fill="none" stroke-miterlimit="10" d="M0,1.5h5c0.6,0,1.1,0.4,1.1,1l1.7,13
						      c0.1,0.5,0.6,1,1.1,1h15c0.5,0,1.2-0.4,1.4-0.9l3.3-8.1c0.2-0.5-0.1-0.9-0.6-0.9H12"></path>
						  </g>
					  	</svg>
			            <div class="cart-quantity-container">
			              <span id="cart-quantity" class="cart-quantity">{{request.basket.num_items}}</span>
			            </div>
			          </span>
			        </a>
		    	</div>
			</div>
		</div> <!--  row -->

		<div class="row d-block d-lg-none">
			{% with url_name=request.resolver_match.url_name %}
			<div class="collapse navbar-collapse mt-3" id="mobile_site_nav">
				<ul class="navbar flex-column">
					<li class="nav-item">
						<a class="nav-link{% if url_name == 'index' or url_name == 'detail' or url_name == 'category' %} active{% endif %}"  href="{% url 'catalogue:index' %}">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'faq' %}#contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">FAQ</a>
					</li>
					<li class="nav-item d-lg-none">
						<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">Recipes</a>
					</li>
					<li class="nav-item d-lg-none">
						<a class="nav-link{% if url_name == 'faq' %} active{% endif %}" href="{% url 'faq' %}">Test</a>
					</li>
				</ul>
			</div>
			{% endwith %}
		</div>
	</div> <!-- container-fluid -->
</nav>
