{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav id="nav_primary" class="{% block nav_classes %}navbar navbar-expand-sm{% endblock %}">
    {% block navbar_toggler %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock %}



    {% block navbar_collapse %}
        <div class="collapse navbar-collapse justify-content-evenly">
            {% block nav %}
			<div class="d-flex">
				<div class="category-selection-label d-md-block d-none">CATEGORY:</div>
				<ul class="navbar-nav category-dropdown">
                    {% block nav_items %}
                        <li id="shop_dropdown" class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if category %}
								{{ category|upper }}
								{% else %}
								{% trans "All products"|upper %}
								{% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="categoryDropdown">

                                {% category_tree depth=1 as tree_categories %}
                                <a class="dropdown-item" href="{% url 'catalogue:index' %}">{% trans "All products"|upper %}</a>
                                {% if tree_categories %}
                                    <div class="dropdown-divider"></div>
                                    {% for tree_category in tree_categories %}
                                        <a class="dropdown-item" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name|upper }}</a>
                                    {% endfor %}
                                {% endif %}

								{% comment offers %}
                                <div class="dropdown-divider"></div>
                                {% block nav_dropdown_extra_items %}
                                    <a class="dropdown-item" href="{% url 'offer:list' %}">{% trans "Offers" %}</a>
                                {% endblock %}
								{% endcomment %}

                            </div>
                        </li>
                   {% endblock %}
               </ul>
			</div>


            {% endblock %}

            {% block nav_extra %}
                {% include "oscar/partials/search.html" %}
            {% endblock %}
        </div>
    {% endblock %}
</nav>
