{% load widget_tweaks %}
{% load i18n %}

<form id="user_info_form" method="post" class="checkout-form" action="{% url 'checkout:checkout' %}">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<div class="form-container">
		<div class="row">
			<div class="form-group col">
				<label class="col-form-label required" for="{{form.username.id_for_label}}">{{form.username.label}}</label>
				{% render_field form.username class+="form-control" %}

				<p class="helptext mt-1">{{ form.username.help_text }} Already have an account? <a class="underline" type="button" role="button" id="signin_button" href="{% url 'customer:login' %}" target="_blank">Sign in</a></p>

			</div>
		{# testing what this does #}
		{% comment %}
		{% include "oscar/partials/form_field.html" with field=form.username %}
		{% endcomment %}

		</div>

		 <div class="row d-none">
				 <div class="form-group col">
					{{ form.options.0 }}
				 </div>
			 </div>
		 </div>


		 <div class="row d-none">
			 <div class="form-group col{% if form.password.errors %} error{% endif %}">
	 			{{ form.options.errors }}

 					{{ form.options.2 }}
 					<div class="form-inline">
 						{% render_field form.password|append_attr:"hidden"|append_attr:"required"|remove_attr:"required" class+="form-control mr-sm-2" %}
 						<small><a href="{% url 'password-reset' %}" tabindex="-1">{% trans "Get a password reminder" %}</a></small>
 						{% for error in form.password.errors %}
 							<span class="error-block">{{ error }}</span>
 						{% endfor %}
	 			</div>
	 		</div>
		 </div>

		<div class="row d-none">
			<div class="form-group col">
				{{ form.options.1 }}
			</div>
		</div>
		<div class="row">
			<div class="input-group col">
				{% render_field form.signup %}
				<label class="col-form-label" for="{{form.signup.id_for_label}}">{{form.signup.label}}</label>

			</div>
		</div>

	<div class="error-container button-container">
		<div class="form-group row hidden" id="error_container">
			<span class="col-12 errors"></span>
		</div>
		<div class="form-group row">
			<button class="col-12" type="submit" aria-label="Continue">{% trans "Continue" %}</button>
		</div>
	</div>
</form>