{% extends "dehy/checkout/layout_v2.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load static %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
{% endblock %}

{% block content %}

	{% block checkout_flow %}
	<div class="col-12 col-sm-6 col-lg-4 checkout-flow" id="checkout_flow" >

		{% if error %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endif %}

		<section id="user_info" class="card card-body mb-lg-4 mb-sm-2 col-12 customer-info">
			<div class="section-header">
				<h2>{% trans "1. Your Email" %}</h2>
				<button class="edit" disabled hidden aria-label="Edit Customer Information"><span>Edit</span></button>
			</div>

			{% block user_info %}

			{% include 'dehy/checkout/partials/user_info_form.html' with form=user_info_form %}
			{% endblock user_info %}
		</section>

		<section id="shipping" class="card card-body mb-lg-4 mb-sm-2 col-12 shipping">
			<div class="section-header">
				<h2>{% trans "2. Shipping" %}</h2>
				<button class="edit" disabled hidden aria-label="Edit Shipping Information"><span>Edit</span></button>
			</div>


			{% block shipping %}
			{% endblock shipping %}
		</section>

		<section id="additional_info" class="card card-body mb-lg-4 mb-sm-2 col-12 additional-info">
			<div class="section-header">
				<h2>{% trans "3. Additional Info" %}</h2>
				<button class="edit" disabled hidden aria-label="Edit Additional Information"><span>Edit</span></button>
			</div>

			{% block additional_info %}
			{% endblock additional_info %}
			</section>

		<section id="billing" class="card card-body mb-lg-4 mb-sm-2 col-12 billing">
			<div class="section-header">
				<h2>{% trans "4. Billing" %}</h2>
				<button class="edit" disabled hidden aria-label="Edit Billing Information"><span>Edit</span></button>
			</div>

			{% block billing %}
			{% endblock billing %}
		</section>


		<section id="place_order" class="card card-body mb-lg-4 mb-sm-2 col-12 place-order">
			<div class="section-header">
				<h2>{% trans "5. Review & Purchase" %}</h2>
			</div>
			{% block place_order %}
			{% endblock place_order %}
		</section>
    </div>

	{% endblock checkout_flow %}

	{% block order_contents %}
	<div class="col-12 col-sm-6 col-lg-4 order-contents">
		<div class="card card-body">
		{% include 'dehy/basket/partials/basket_content.html' with shipping_charge=basket_summary_context_data.shipping_charge is_shipping_method_set=is_shipping_method_set is_shipping_address_set=is_shipping_address_set formset=basket_formset order_total=order_total %}
		</div>
	</div>
	{% endblock order_contents %}

{% endblock content %}


{% block extra_scripts %}

{% comment %}{{ stripe_data|json_script:"stripe-data" }}{% endcomment %}

<script src="{% static "js/checkout.js" %}"></script>
<script src="{% static "js/form_structures.js" %}"></script>
<!-- <script>
	const stripe = Stripe("{{stripe_data.publishable_key}}");
</script> -->
{% endblock extra_scripts %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();

	//dehy.ch.gateway.init();
	dehy.ch.forms.init();

{% endblock %}
