{% extends "dehy/checkout/layout_v2.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load static %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
{% endblock %}

{% block content %}


		{% block checkout_flow %}
		<div id="checkout_flow" class="col-6 checkout-flow">

			{% if error %}
				<div class="alert alert-danger">
					{{ error }}
				</div>
			{% endif %}

			<section id="user_info" class="card card-body col-10 customer-info">
				<div class="card-header">
					<div class="card-title">
						<h2>{% trans "1. Your Email" %}</h2>
					</div>
					<button class="edit" disabled hidden aria-label="Edit Customer Information"><span>Edit</span></button>
				</div>

				{% block user_info %}
				{% endblock user_info %}
			</section>

			<section id="shipping" class="card card-body col-10 shipping">
				<div class="card-header">
					<div class="card-title">
						<h2>{% trans "2. Shipping" %}</h2>
					</div>
					<button class="edit" disabled hidden aria-label="Edit Shipping Information"><span>Edit</span></button>
				</div>


				{% block shipping %}
				{% endblock shipping %}
			</section>

			<section id="additional_info" class="card card-body col-10 additional-info">
				<div class="card-header">
					<div class="card-title">
						<h2>{% trans "3. Additional Info" %}</h2>
					</div>
					<button class="edit" disabled hidden aria-label="Edit Additional Information"><span>Edit</span></button>
				</div>

				{% block additional_info %}
				{% endblock additional_info %}
				</section>

			<section id="billing" class="card card-body col-10 billing">
				<div class="card-header">
					<div class="card-title">
						<h2>{% trans "4. Billing" %}</h2>
					</div>
					<button class="edit" disabled hidden aria-label="Edit Billing Information"><span>Edit</span></button>
				</div>

				{% block billing %}
				{% endblock billing %}
			</section>


			<section id="place_order" class="card card-body col-10 place-order">
				<div class="card-title">
					<h2>{% trans "5. Review & Purchase" %}</h2>
				</div>
				{% block place_order %}
				{% endblock place_order %}
			</section>
	    </div>

	{% endblock checkout_flow %}

	{% block order_contents %}
	<div class="col-6 card card-body order-contents">
		{% include 'dehy/basket/partials/basket_content.html' with formset=basket_summary_context_data.formset object_list=basket_summary_context_data.object_list basket_warnings=basket_summary_context_data.basket_warnings %}
	</div>
	{% endblock order_contents %}

	{% comment %}
	{% block order_contents %}
	<div class="col-6 card card-body order-contents">
			<div class="card-title">
				<h2>{% trans "Order Summary" %}</h2>
			</div>

			{% for line in basket.all_lines %}
				{% purchase_info_for_line request line as session %}
				<div class="basket-items row">
						<div class="col-sm-3">
							<div class="image-container w-100">
								{% with image=line.product.primary_image %}
									{% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
									<a href="{{ form.instance.product.get_absolute_url }}">
										<img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0">
									</a>
								{% endwith %}
							</div>
						</div>
						<div class="col-sm-6">
							<span>{{ line.product.parent.title|default:line.product.title }}</span>
							{% if line.product.is_child %}
							<p class="size"><small>Size: {{line.description}}</small></p>
							{% endif %}
						</div>
						<div class="col-sm-1 text-center">
							{{ line.quantity }}
						</div>
						<div class="col-sm-2 text-right">
							<p class="price_color">
								{{ line.line_price_excl_tax|currency:basket.currency }}


							</p>
						</div>
				</div>
			{% endfor %}

			<div class="row">
				<div class="col-sm-12">
					<div class="sub-header">
						<h2>{% trans 'Totals' %}</h2>
					</div>
					{% include 'oscar/basket/partials/basket_totals.html' %}
				</div>
			</div>
		</div>
	{% endblock order_contents %}
	{% endcomment %}

{% include "dehy/checkout/partials/loading_modal.html" %}
{% endblock content %}


{% block extra_scripts %}

{% comment %}{{ stripe_data|json_script:"stripe-data" }}{% endcomment %}

<script src="{% static "js/checkout.js" %}"></script>
<script src="{% static "js/form_structures.js" %}"></script>
<script src="{% static "js/basket.js" %}"></script>
<!-- <script>
	const stripe = Stripe("{{stripe_data.publishable_key}}");
</script> -->
{% endblock extra_scripts %}

{% block onbodyload %}
    {{ block.super }}
    oscar.checkout.gateway.init();
	dehy.ch.gateway.init();

	var currencySymbol = '{{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}';
	currencySymbol = currencySymbol.slice(0, 1);
	dehy.basket.init(currencySymbol);

{% endblock %}
