{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
	<div class="subhead">
		<h2 class="h2">{% trans "Addresses" %}</h2>
	</div>
    {% if addresses %}
        <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover" id="address_list" style="max-width:700px">
            <tbody>
				<tr class="table-header"><td></td></tr>
                {% for address in addresses %}
                    <tr>
                        <td>
							<a class="btn btn-secondary float-right address-action edit-btn" href="{% url 'customer:address-detail' pk=address.id %}">{% trans 'Edit' %}</a>

							{% if address.is_default_for_shipping %}
								<span class="badge badge-success">{% trans 'Default shipping address' %}</span>
							{% endif %}
							{% if address.is_default_for_billing %}
								<span class="badge badge-info">{% trans 'Default billing address' %}</span>

							{% endif %}

                            <address>
                                {% for field in address.active_address_fields %}
									<div>
                                    {{ field }}
									</div>
                                {% endfor %}

                            </address>
							{% if not address.is_default_for_shipping %}
							<a class="btn btn-primary address-action mb-2" href="{% url 'customer:address-change-status' pk=address.id action='default_for_shipping' %}">
								{% trans 'Set as default shipping address' %}
							</a>
							{% endif %}
							{% if not address.is_default_for_billing %}
							<a class="btn btn-primary address-action mb-2" href="{% url 'customer:address-change-status' pk=address.id action='default_for_billing' %}">
								{% trans 'Set as default billing address' %}
							</a>
							{% endif %}
							{# style="position:absolute;bottom:10px;right:10px;" #}
							<a class="btn btn-danger bg-danger float-right address-action" href="{% url 'customer:address-delete' pk=address.id %}">
								{% trans 'Delete' %}
							</a>
                        </td>
                        <!-- <td>
							<div class="container-fluid" style="height:150px">
								<div class="row flex-column h-100 justify-content-around">

									<div class="col">
									{% if address.country.is_shipping_country and not address.is_default_for_shipping %}
										<a class="btn btn-primary w-100 address-action" href="{% url 'customer:address-change-status' pk=address.id action='default_for_shipping' %}">
											{% trans 'Set as default shipping address' %}
										</a>
									{% endif %}
									</div>

									<div class="col">
									{% if not address.is_default_for_billing %}
										<a class="btn btn-primary w-100 address-action" href="{% url 'customer:address-change-status' pk=address.id action='default_for_billing' %}">
											{% trans 'Set as default billing address' %}
										</a>
									{% endif %}
									</div>

									<div class="col">
										<a class="btn btn-danger bg-danger float-right address-action" href="{% url 'customer:address-delete' pk=address.id %}">
											{% trans 'Delete' %}
										</a>
									</div>
								</div>
							</div>

                        </td> -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "oscar/partials/pagination.html" %}
    {% else %}
        <p>{% trans 'There are no addresses in your address book.' %}</p>
    {% endif %}
    <p>
        <a href="{% url 'customer:address-create' %}" class="btn btn-primary">{% trans 'Add a new address' %}</a>
    </p>

{% endblock tabcontent %}