{% load currency_filters i18n %}
<table style="border-collapse:collapse; width:500px; margin-bottom:20px" cellpadding="0" cellspacing="0" class="table" id="order_receipt_table">
	<tbody>
		<tr>
			<td style="vertical-align:top">
				{% include "oscar/communication/partials/billing_info.html" %}
			</td>

			<td style="vertical-align:top">
				{% include "oscar/communication/partials/shipping_info.html" %}
			</td>
		</tr>
		<tr style="height: 20px">
		</tr>
		<tr>
			<td colspan="2">
				<div><span class="cell-title">{% trans "Tracking:" %}</span></div>
				<div><a class="btn btn-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{{order.number}}</a></div>
			</td>
		</tr>
	</tbody>
</table>