{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}

{% block product %}
    <figure class="product-figure">

        {% block product_image %}
		{% with images=product.get_all_images|slice:":2" %}
		<a class="image-link" href="{{ product.get_absolute_url }}" aria-label="{{ product.get_title }} Link">
			<div class="product-image-container">
				{% for image in images %}
					{% oscar_thumbnail image.original "x1000" quality=95 crop=center upscale=True as thumb %}
					{% if image == images|first %}
						<img class="product-img" src="{{thumb.url}}" alt="{{ product.get_title }}">
					{% else %}
						<img class="product-img alt-img" src="{{thumb.url}}" alt="{{ product.get_title }} alt">
					{% endif %}
				{% endfor %}
			</div>
		</a>
		{% endwith %}
		{% endblock product_image %}


	</figure>
	<section class="product-info">
		{% block product_title %}
            <h3 class="mt-3 product-title">
                <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
					{% if product.structure == 'child' %}
						{{ product.parent.get_title }}
						<br>
					{% endif %}
                    {{ product.get_title }}
                </a>
            </h3>
        {% endblock product_title %}
		{% block product_price %}
			<div class="product_price">

				{% include "oscar/catalogue/partials/stock_record.html" %}
				{% if not product.is_parent and not product.has_options %}
					{% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}
				{% endif %}
			</div>
		{% endblock product_price %}
	</section>

{% endblock product %}
