{% load i18n %}

<div class="quantity-select-container row">
	<div class="plus-minus-container minus-container col-3 p-0">
		<button aria-controls="#id_quantity" role="button" aria-label="Decrement" class="plus-minus-btn minus-btn" data-product_id="{{product.id}}">
			<i class="fas fa-minus"></i>
		</button>
	</div>

	<label for="quantity" class="sr-only">{% trans "Quantity" %}</label>
	<div class="input-quantity-container px-0 col-6">
		<input class="product-quantity quantity" type="number" pattern="[0-9]*" name="{{field.html_name}}" id="{{field.id_for_label}}" value="{{field.value}}" min="1" max="99" data-product_id="{{product.id}}">
	</div>

	<div class="plus-minus-container plus-container col-3 p-0">
		<button aria-controls="#id_quantity" role="button" aria-label="Increment" class="plus-minus-btn plus-btn" data-product_id="{{product.id}}">
			<i class="fas fa-plus"></i>
		</button>
	</div>
</div>