{% load i18n %}
{% load static %}
{% load currency_filters %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" class="{% block html_class %}{% endblock %}">
    <head>
        <title>{% block title %}{{ shop_name }} {{ shop_tagline }}{% endblock title %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}"/>
        <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1{% endblock %}"/>
        <meta name="robots" content="NOARCHIVE,NOCACHE"/>
		<meta property="og:description" content="Dehydrated cocktail garnishes for bars, restaurants,
			and cocktail enthusiasts. We offer a variety of dehydrated fruits and dried flowers
			to elevate your cocktails to another level. Wholesale and retail options available.
			FREE shipping for orders over $50!">

        {% block favicon %}
			<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        {% endblock %}

		<script {% if 'checkout' in request.resolver_match.namespaces %}{% else %}async defer {% endif %}src="https://js.stripe.com/v3/"></script>


        {# Block where global CSS will go. #}
        {% block styles %}
		{% endblock styles%}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}
		{% endblock extrastyles %}

        {% block extrahead %}{% endblock extrahead %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "oscar/partials/google_analytics.html" %}
        {% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
		<div class="d-none" id="g-captcha"></div>
		{% include 'dehy/basket/partials/confirm_item_removal_modal.html' %}

        {% block layout %}{% endblock layout %}

        {# Scripts loaded from a CDN. #}
        {% block cdn_scripts %}
			<!-- google recaptcha -->
			<script src="{% static "js/base.js" %}"></script>

			<!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->


            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
				crossorigin="anonymous"></script>


            <!-- <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script> -->
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}
		<script src="{% static "js/nav.js" %}"></script>
		<script src="{% static "js/basket.js" %}"></script>
        {% endblock scripts %}

        {# Additional JS scripts #}
        {% block extra_scripts %}
		{% endblock extra_scripts %}

        {# Block for body onload functions #}
        <script>
            $(function() {
                {% block onbodyload %}
				dehy.recaptcha_sitekey_v2 = "{{recaptcha_site_key_v2}}";
				dehy.recaptcha_sitekey_v3 = "{{recaptcha_site_key_v3}}";
				var notifications = "{{notifications}}";

				dehy.init('index');
				var currencySymbol = '{{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}';
				currencySymbol = currencySymbol.slice(0, 1);
				dehy.basket.init(currencySymbol);
				if (notifications.length>0) {
					dehy.utils.notify_user(notifications);
				}
				{% endblock %}
            });
        </script>
		<script src="https://www.google.com/recaptcha/api.js?onload=recaptcha_onload&render=explicit" async defer></script>

        {# Page meta-data - this is populated by the 'metadata' template context processor #}
		{% include "dehy/partials/loading_modal.html" %}
    </body>
</html>
