{% extends "dehy/layout.html" %}
{% load static %}

{% comment %}
Keep the same header and footer as the standard layout template but override the
main content area to split it into a sidebar and a content block
{% endcomment %}

{# splash image container #}
{% block splash_container %}
<div class="splash-image-container row" style="background-image: url({% static 'img/dehy-background.jpeg' %})">
	<h1 class="splash-header">
		{% block header_title %}
		Modern, refined garnishes.
		{% endblock header_title %}
	</h1>
</div>
{% endblock splash_container %}

{% block header %}
{{block.super}}
{% endblock header %}

{% block content_wrapper %}
<div class="{% block content_wrapper_classes %}container-fluid page{% endblock %}">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock breadcrumbs %}
        <div class="row">

			{% block column_left_outer %}
	            <aside style="min-width: 1px;" class="sidebar col-lg-2 d-lg-block d-none">
	                {% block column_left %}{% endblock column_left %}
	            </aside>
			{% endblock column_left_outer %}

            <div class="col-12 col-lg-10">
                {% include "oscar/partials/alert_messages.html" %}

                {% block pre_content %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container -->

{% endblock %}
