{% load image_tags %}

	<div class="{% if preview %}recipe-preview{% else %}card card-body{% endif %}">

		{% if not preview %}
		<div class='recipe-info row'>
			<div class="col-6"><span>By: Fake McFakerson</span></div>
			<div class="col-6"><span>Udpated: {{recipe.last_modified}}</span></div>
		</div>
		{% endif %}


		<a href="{% url 'recipe_details' recipe.slug %}">
		<div class="image-container">
			{% with default_image=MEDIA_URL|add:'media/image_not_found.jpg' image=recipe.image %}
			{% oscar_thumbnail image|default:default_image "500x400" as thumb %}
			<img class='card-img' src="{{thumb.url}}" alt="{{ recipe.name }}">
			{% endwith %}
		</div>
		</a>
		<a href="{% url 'recipe_details' recipe.slug %}"><h4 class="card-title">{{recipe.name}}</h4></a>

		{% if not preview %}
		<p class='recipe-description'>{{recipe.description}}</p>
		<h3>Ingredients</h3>
		<div class='ingredients-list'>
			<ul>
			{% for ingredient in recipe.ingredients %}
			<li><p>{{ingredient}}</p></li>
			{% endfor %}
			</ul>
		</div>
		<h3>Directions:</h3>
		<div class='directions-list'>
			<ul>
			{% for step in recipe.steps %}
			<li><p>{{step}}</p></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
