{% extends "dehy/shop/browse.html" %}

{% load i18n %}

{% block title %}
    {{ category.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.get_meta_description }}
{% endblock %}

{% block header%}
{{block.super}}
{% endblock %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block content %}
    {% if category.description %}
        <div class="row">
            <div class="col-sm-9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="col-sm-3"><img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid" /></div>
            {% endif %}
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
