{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% trans 'Account verification failed' %} {{ block.super }}
{% endblock %}

{% block header %}
<header class="row">
	<div class="col-10 section-divider">
		{% block header_title %}
		{% endblock header_title %}
	</div>
</header>
{% endblock header %}

{% block column_left_outer %}
{% endblock column_left_outer %}

{% block content %}
    <div class="row justify-content-center form-container">
		<div class="col-12 col-sm-10 col-md-9 col-lg-5">
			{% if needs_verification %}
			<form id="resend_verification" action="{{ request.get_full_path }}" method="post" class="navbar-margin" >
                <h2 class="form-title">{% trans 'Account verification' %}</h2>
                {% csrf_token %}

				<div class="form-group">
                    <label for="id_login-username" class=" col-form-label required">
                        Email
                    </label>
	                <div class="">
	                	<input type="email" name="username" value="{{user.email}}" maxlength="254" class="form-control" required="" id="id_username">
	                </div>
        		</div>
				<div class="requires-recaptcha"></div>

				<div class="form-group text-center">
					<button name="resend_verification" type="submit" value="Resend verification" class="btn btn-lg">{% trans 'Send Verification' %}</button>
				</div>
            </form>
			{% endif %}
        </div>
		<div class="row"></div>

    </div>

{% endblock content %}