{% extends "dehy/layout_2_col.html" %}

{% load i18n %}
{% load static %}
{% load image_tags %}


{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}"/>
{% endblock extrastyles %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block splash_container %}
{% endblock splash_container %}


{% block header %}

	{% get_media_prefix as MEDIA_PREFIX %}
	{% with image_url='http://'|add:request.get_host|add:MEDIA_PREFIX|add:'images/account/dehy2-884.jpg' %}
	{% oscar_thumbnail image_url "1500x" upscale="true" as thumb %}
	<header class="row navbar-padding justify-content-center">
		<div style="padding-bottom: 15%;" class="image-container">
			<img alt="Dehy all products displayed in jars" src="{{thumb.url}}">
		</div>
		{% endwith %}

		{% block navigation %}
		{% endblock %}
		<div class="col-8">

		</div>
	</header>
{% endblock header %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block content_wrapper %}
	<div class="{% block content_wrapper_classes %}container-fluid navbar-padding{% endblock %} mb-4">
		<div class="row justify-content-center">

		{% block column_left_outer %}
			<aside class="col-12 col-md-4 col-lg-3 ml-lg-3 sidebar">
				{% block column_left %}
				    <ul class="nav nav-pills flex-column px-lg-5">
				        {% block standard_tabs %}
				            {% include 'oscar/customer/partials/standard_tabs.html' %}
				        {% endblock %}
				    </ul>
				{% endblock %}
			</aside> <!-- col -->
		{% endblock column_left_outer %}

			<div class="col-12 col-md-8 info-container">
				{% block messages %}
				{{block.super}}
				{% endblock messages %}


				{% block pre_content %}{% endblock %}
				{% block content %}
					{% block tabcontent %}{% endblock tabcontent %}
				{% endblock content %}
			</div> <!-- col -->
		</div><!-- row -->
	</div> <!-- /container -->
{% endblock content_wrapper %}

{% block extrascripts %}
<script src="{% static "js/accounts.js" %}"></script>
{% endblock extrascripts %}

{% block onbodyload %}
	{{block.super}}
	dehy.accounts.init();

{% endblock onbodyload %}