[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/dehy/dehy
ExecStart=/home/admin/dehy/dehy/venv/bin/gunicorn \
--access-logfile logs/access.log \
--error-logfile logs/error.log \
--workers 3 \
--bind unix:/run/gunicorn.sock \
--capture_output \
--log-level debug \
dehy.wsgi:application