{% extends "dehy/layout_2_col.html" %}
{% load static %}
{% load i18n %}
{% load product_tags %}
{% load thumbnail %}
{% load image_tags %}

{% block title %}
{{ block.super }} | {% trans "FAQ" %}
{% endblock title %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}"/>
{% endblock extrastyles %}

{% block splash_container %}
<header class="faq navbar-padding justify-content-center row">
	<div class="col-10 section-divider">
		{% block header_title %}
		<h1 class="faq-title">Frequently Asked FAQs <a class="headerlink" href="#" title="FAQ section permalink">¶</a></h1>
		{% endblock header_title %}
	</div>
</header>
{% endblock splash_container %}

{% block header %}{% endblock header %}
{% block content_wrapper %}

{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<div class="row justify-content-center faq-page-inner" style='background-image: url({% static "img/custom/dehy_hero_rotated.jpeg" %}); background-size:cover;'>
	{% for faq in faq_list %}
		<section class="col-10 faq-item">

				<div class="row question-text-container">
					<div class="col-3 col-sm-2 col-lg-1 pr-0 col">
						<h2 class="faq-Q">Q.</h2>
					</div>
					<div class="col-9 col-sm-10 col-lg-11 pl-0 col">
						<span class='question-span'>{{faq.question}}</span>
					</div>
				</div>

				<div class="row answer-text-container">
					<div class="col-3 col-sm-2 col-lg-1 pr-0 col">
						<h2 class="faq-A">A.</h2>
					</div>
					<div class="col-9 col-sm-10 col-lg-11 pl-0 col">
						<span class='answer-span'>{{faq.answer}}</span>
					</div>
				</div>

				{% comment %}
				<div class="question-text-container">
					<h2 class="d-inline-block">Q.</h2>
					<span class='question-span'>{{faq.question}}</span>
				</div>
				<div class="answer-text-container">
					<h2 class="d-inline-block">A.</h2>
					<span class='answer-span'>{{faq.answer}}</span>
				</div>
				{% endcomment %}
		</section>

	{% endfor %}
</div>
<div class="row justify-content-center">
	<div class="col-10 section-divider">
		<h3>Have other questions? Drop us a line! <a class="headerlink" href="#contact" title="Contact form permalink">¶</a></h3>
	</div>
</div>

{% with image_url='http://'|add:request.get_host|add:MEDIA_PREFIX|add:'images/faq/dehy2-091.jpg' %}
{% oscar_thumbnail image_url "1500x1500" as thumb %}
<section id="contact_section" class="row justify-content-center contact" style="background-image: url({{ thumb.url }})">
{% endwith %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				{% include "dehy/generic/contact_form.html" %}
			</div>
		</div>

	</div>
</section>


{% endblock content_wrapper %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static "js/faq.js" %}"></script>
{% endblock extra_scripts %}