{% extends "dehy/layout_2_col.html" %}
{% load static %}
{% load i18n %}
{% load product_tags %}

{% block title %}
{{ block.super }} | {% trans "FAQ" %}
{% endblock title %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}"/>
{% endblock extrastyles %}

{% block header_title %}
FAQ
<p style='font-size: 1.75rem; letter-spacing: 0.15em'>Frequently Asked Questions</p>
{% endblock header_title %}

{% block header %}{% endblock header %}
{% block content_wrapper %}
<section class="container">
	
	{% for faq in faq_list %}
		<section class="row">
			<article class="col-10">
				<span class='question-span'>Question: {{faq.question}}</span>
				<br>
				<span class='answer-span'>Answer: {{faq.answer}}</span>
				<br>
			</article>
		</section>

	{% endfor %}
</section>

{% endblock content_wrapper %}