{% extends "dehy/layout.html" %}
{% load static %}
{% load i18n %}
{% load product_tags %}
{% load image_tags %}

{% block title %}
{{ block.super }} | {% trans "Home" %}
{% endblock title %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/recipes.css' %}"/>

{% endblock extrastyles %}


{% block header %}
<header class='content-section row' id="header">
	<div class='col-12 col-sm-7 d-flex flex-column justify-content-center img-split shop-header-image dotted-image-filter'
		style='background-image: url({% static "img/custom/dehy_jars2_filter.jpeg" %}); background-size:cover;'>
		<div class="row mx-auto justify-content-center">
			<div class="col-10 my-5">
				<h1>CATCHY PUNCHLINE</h1>
				<h1>NOW YOU FINNA BUY SHIT</h1>
				<a class='shop-link btn btn-white' href="{% url 'shop:index' %}">Shop Now</a>
			</div>
		</div>
	</div>
	<div class='col-12 col-sm-5 fun-gif img-split'>
		<figure>
			<img style="filter: grayscale(30%) opacity(0.5);" class="section-image-container" src='{% static 'img/custom/dehy_flag_filter.gif' %}'>
		</figure>
	</div>
</header>
{% endblock header %}



{% block content_wrapper %}
{% get_media_prefix as MEDIA_PREFIX %}

	<section class='about content-section row' id='about'>
		<div class='container'>
			<div class='row'>
				<div class='col-12'>
					<h2>Virtue & Craft</h2>
					<p>Dehy makes high quality dehydrated garnishes for an elevated cocktail experience, handmade in Austin Texas. Created for cocktail professionals and enthusiasts alike, Dehy makes it easy to put a unique finishing touch on any drink with speed.</p>
				</div>
			</div>

		</div>
	</section>


	<section class='content-section row mailing-list-container'>
		<div class='image-background-overlay'
			style="background-image: url({% static 'img/p/blood_orange_rough_cuts/blood_orange_rough_cut_jar.jpg' %}); left:0; background-position: center left -20%;">
		</div>
		<div class='image-background-overlay'
			style="background-image: url({% static 'img/p/grapefruit/grapefruit_jar.jpg' %}); right:0; background-position: center right -20%;">
		</div>

		<div class="container row justify-content-center">

			<!-- <div class="col-2">
				<img class="image-container" src="{% static 'img/product/blood_orange_rough_cuts/blood_orange_rough_cut_jar.jpg' %}">
			</div> -->
			<div class="mailing-list col-12 col-sm-8">
				<p class='subhead'>STAY IN DA MIX LMAOOOO</p>
				<h2>SUBSCRIBE FOR INSIDE ACCESS</h2>
				<p class='monospace'>Get emails about special events, offers, and upcoming promotions. Unsubscribe whenever you want.</p>
				<form id="mailing_list" class="form-inline" method="POST" enctype="application/x-www-form-urlencoded">
					<input type="hidden" name="csrfmiddlewaretoken" value="">
					<label class="sr-only" for="mailing_list_submit">Sign Up</label>
					<input type="email" type="email" class="form-control form-control-sm mb-2 mr-2" id="mailing_list_email" placeholder="Enter Email Address">
			   	 	<button type="submit" class="btn btn-sm mb-2" id="mailing_list_submit"><i class="fas fa-paper-plane"></i></button>

					<!-- <button type="submit" class="btn btn-sm mb-2" id="mailing_list_submit">Join the Mailing List</button> -->
				</form>
			</div>
			<!-- <div class="col-2">
				<img class="section-image-container" src="{% static 'img/product/grapefruit/grapefruit_jar.jpg' %}">
			</div> -->
		</div>
	</section>
	<section class='content-section row'>

		<div class='col-12 col-sm-7 d-flex flex-column justify-content-center about' style="background-image: url({% static  'img/custom/dehy_hero.jpeg' %}); background-position: bottom left 100px;">
			<div class="row mx-auto">
				<div class="col-10 my-5">
					<h2>Virtue & Craft</h2>
					<p>Dehy makes high quality dehydrated garnishes for an elevated cocktail experience, handmade in Austin Texas. Created for cocktail professionals and enthusiasts alike, Dehy makes it easy to put a unique finishing touch on any drink with speed.</p>
				</div>
			</div>

		</div>
		<div class='col-12 col-sm-5 img-split'>
			<img style="border-left: 1px solid #000000a8;" class="section-image-container" src='{% static 'img/custom/dehy_glass_filter.jpeg' %}'>
		</div>
	</section>

	{% with image_url='http://'|add:request.get_host|add:MEDIA_PREFIX|add:'images/home/dehy-1279.jpg' %}
	{% oscar_thumbnail image_url "1500x" upscale=True as thumb %}
	<section id="wholesale" class='content-section row justify-content-center' style="background-image: url('{{ thumb.url }}')">
		{% endwith %}

		<div class="col-8 my-5 mx-auto">
			<div class="text-container frosted-glass">
				<p>Heyyy brew, something something <span class="text-light">wholesale</span> something <span class="text-light">wholesale</span> </p>
				<p>Interested in creating an account?
					<br>
				 <a class="text-light" style="text-decoration: underline" href="{% url 'customer:register' %}">Clicky on this here button</a> now go on 'n git
				</p>
			</div>

		</div>
	</section>

	{% block recipe_list %}
	<section class='content-section mini-recipe-list row' id='mini_recipe_list'>
		<div class="recipe-link-container">
			<a role='button' class="temp shop-link btn btn-black" href="{% url 'recipes' %}">All Recipes</a>
		</div>
		{% for recipe in recipes %}
		<article class="recipe-card col-6 col-sm-3">
		{% include "dehy/recipes/partials/recipe_card.html" with recipe=recipe preview=1 %}
		</article>
		{% endfor %}
	</section>
	{% endblock recipe_list %}

	<section class='content-section mailing-list-split row'>

			<div class='img-split col-5 d-none d-sm-flex'>
				<img class="section-image-container" src='{% static 'img/custom/dehy_ice2_filter.jpeg' %}'>
			</div>
			<div class="mailing-list mailing-list-container col-12 col-sm-7">
				<div class="col-10">
					<p class='subhead'>STAY IN DA L00pZ</p>
					<h2>SUBSCRIBE FOR INSIDE ACCESS</h2>
					<p class='monospace'>Get emails about special events, offers, and upcoming promotions. Unsubscribe whenever you want.</p>
					<form id="mailing_list" class="form-inline" method="POST" enctype="application/x-www-form-urlencoded">
						<input type="hidden" name="csrfmiddlewaretoken" value="">
						<label class="sr-only" for="mailing_list_submit">Sign Up</label>
						<input type="email" type="email" class="form-control form-control-sm mb-2 mr-2" id="mailing_list_email" placeholder="Enter Email Address">
				   	 	<button type="submit" class="btn btn-sm mb-2" id="mailing_list_submit"><i class="fas fa-paper-plane"></i></button>

						<!-- <button type="submit" class="btn btn-sm mb-2" id="mailing_list_submit">Join the Mailing List</button> -->
					</form>
				</div>

			</div>
	</section>

	<section class='content-section mini-shop-section row'>

		<div class="shop-link-container" style="position: sticky; top:0; left:10px;">
			<a role='button' style="position: absolute; top: -3rem;" class="temp shop-link btn btn-black" href="{% url 'shop:index' %}">Shop</a>
		</div>

		<div class="mini-shop">
			{% for product in products %}
				{% if not product.is_child %}
					{# temporary #}
					<div class="product-card">
					{% render_product product %}
					</div>
				{% endif %}
			{% endfor %}
		</div>



	</section>


{% endblock content_wrapper %}

