:root {
    --gold: rgba(188, 162, 99, 1);
	--gold-half-opacity: rgba(188, 162, 99, 0.5);
	--hunter-green: rgba(34, 68, 49, 1);
	--hg: rgba(34, 68, 49, 1);
	--beige: rgba(244, 236, 220, 1);
	--orange-accent-color: rgba(250, 166, 28, 1);
	--avant-garde: 'itc-avant-garde-gothic-pro';
	--dark-hg: rgba(28, 54, 39, 1);
	--dark-gray: rgba(0,0,0,0.8);
	--global-font-size: calc(1.5 * 1rem);
	--global-line-height: 1.2em;
	--logo-max-height: 45px;
	--logo-padding-y: 0.625rem;
	--main-navbar-padding-top: 3vh;
	--main-navbar-height: calc(var(--main-navbar-padding-top)*2 + var(--logo-max-height) + var(--logo-padding-y));
	--main-accent-color: var(--gold);
	--secondary-accent-color: darkred;
	--main-bg-color: var(--hunter-green);
	--secondary-bg-color: var(--beige);
}

.free-shipping-bar {
	height: 10px;
    border: 2px solid;
    margin: 0.25rem 0;
    padding: 5px;
    position: relative;
    border-radius: 50rem;
	box-sizing: content-box;
	max-width:100%;
}

.free-shipping-bar>span{
	height: 100%;
	max-width: 100%;
	background-color: #00fcffab;
	display: block;
	border-radius: 50rem;
}

.free-shipping-bar>span>span{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	z-index: 1;
	background-size: 50px 50px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.clear {
	clear: both;
}

p {
	font-size: 1rem;
}
.fab {
	font-size: 20px;
}

.requires-recaptcha {
	padding-left: 5px;
}

.grecaptcha-badge {
	/* position: unset !important; */
}

#confirm_item_removal .btn-close {
	align-self: flex-end;
	padding: 10px;
	filter: invert(75%);
}

#confirm_item_removal .btn-close:hover {
	filter: saturate(0.5) !important;
}

.br-0 {
	border-radius: 0 !important;
}
.br-1 {
	border-radius: 1px !important;
}
.br-2 {
	border-radius: 2px !important;
}
.br-3 {
	border-radius: 3px !important;
}
.br-4 {
	border-radius: 4px !important;
}
.br-5 {
	border-radius: 5px !important;
}

.bg-hg,
.bg-hunter-green,
.bg-huntergreen,
.bg-primary {
	background-color: var(--hunter-green) !important;
}

.text-hg,
.text-hunter-green,
.text-huntergreen,
.text-primary {
	color: var(--hunter-green) !important;
}

.bg-gold,
.bg-secondary {
	background-color: var(--gold) !important;
}

.text-gold,
.text-secondary {
	color: var(--gold) !important;
}

.bg-beige {
	background-color: var(--beige) !important;
}

body.navbar-expanded {
	height: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh)*100);
	overflow: hidden;
}

.col-form-label {
	padding-top: 0;
	padding-bottom: 0;
}

form:not(#contact) select:not(#size_selector),
form:not(#contact) textarea,
form:not(#contact) input:not(#id_quantity, [type="radio"], [type='checkbox'], .product-quantity, .quantity) {
	outline: 2px solid var(--gold);
	outline-offset: 1px;
	background-color: rgba(231, 240, 254, 1);
	border: 1px solid var(--dark-hg);
	color: #495057;
	border-radius: 5px;
}

form:not(#contact) select:not(#size_selector):focus,
form:not(#contact) input:not(#id_quantity, .quantity):focus {
	outline: 2px solid var(--gold) !important;
	outline-offset: 1px !important;
}

input.quantity {

    border: 1px solid;
    border-radius: 0 !important;
	text-align: center;
	width: 100%;
	font-size: 1rem;
}

button,
.btn-primary {
    padding: 0.375rem 3rem;
    font-weight: 400;
	border-radius: 5px;
	background-color: var(--gold);
	color: var(--beige);
	transition: all 300ms ease;
	border-color: inherit;
}

.btn {
	background-color: var(--gold);
	color: var(--hg);
}

button:hover,
.btn:hover {
	opacity: 0.8;
}

button:active {
	transform: scale(0.97);
}

button[type='submit'] {
	color: black;
}

.btn:focus {
	box-shadow: none;
}

.btn-bg-transparent {
	border: 2px solid var(--secondary-bg-color);
	color: var(--secondary-bg-color);
}

.btn-bg-transparent:hover {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
}



@font-face {
    font-family: 'lydiacondensed-bold';
    src: url('/static/fonts/lydiacondensed-bold.eot') format('embedded-opentype');
    src: url('/static/fonts/lydiacondensed-bold.eot?#iefix') format('embedded-opentype');
    src: url('/static/fonts/lydiacondensed-bold.woff2') format('woff2');
    src: url('/static/fonts/lydiacondensed-bold.woff') format('woff');
    src: url('/static/fonts/lydiacondensed-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freefrm';
    src: url('/static/fonts/freefrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'itc-avant-garde-gothic-pro';
	src:url('https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/l?subset_id=2&fvd=n3&v=3') format("woff2"),
		url('https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/d?subset_id=2&fvd=n3&v=3') format("woff"),
		url('https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/a?subset_id=2&fvd=n3&v=3') format("opentype");
	font-weight:300;
	font-style:normal;
	font-display:auto;
}

@font-face {
	font-family:'itc-avant-garde-gothic-pro';
	src:url('https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/l?subset_id=2&fvd=n5&v=3') format("woff2"),
		url('https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/d?subset_id=2&fvd=n5&v=3') format("woff"),
		url('https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/a?subset_id=2&fvd=n5&v=3') format("opentype");
	font-weight:500;
	font-style:normal;
	font-display:auto;
}

@font-face {
	font-family:'itc-avant-garde-gothic-pro';
	src: url('https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/l?subset_id=2&fvd=n7&v=3') format("woff2"),
		url('https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/d?subset_id=2&fvd=n7&v=3') format("woff"),
		url('https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/a?subset_id=2&fvd=n7&v=3') format("opentype");
	font-weight:700;
	font-style:normal;
	font-display:auto;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	background-color: var(--hunter-green);
}

body {
    background-color: var(--hunter-green);
    font-family: itc-avant-garde-gothic-pro, 'freefrm';
    line-height: var(--global-line-height);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: var(--global-font-size);
    transition: all 300ms ease;
	color: var(--gold);
	letter-spacing: 0.02em;
	line-height: 1.8;
}

main {
	flex-direction: column;
}

a {
   transition: color 200ms ease;
   text-decoration: none;
   color: inherit;
}

a:hover{
	color: inherit;
	/* text-decoration: none; */
}

a.navbar-brand {
	position: relative;
}

.display-none {
	display: none !important;
}
.product-category-link::after,
.navbar-brand::after
 {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.product-category-link:hover {
	text-decoration: none;
}

.product-category-link:hover::after,
.navbar-brand:hover::after
 {
	width: 100%;
	left: 0;
}

input, select, article {
	font-family: var(--avant-garde);
	font-weight: 100;
}


/*
.container-fluid {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
} */

h1, h2, h3, h4 {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif,itc-avant-garde-gothic-pro;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

h1, h3 {
	font-family:'lydiacondensed-bold';
}

h1 {
    font-size: calc(3.3 * 1rem);
}

h1.splash-header {
	font-size: calc(3.3 * 1rem) !important;
	margin-top: calc(var(--main-navbar-height) * 0.5);
	margin-bottom: calc(var(--main-navbar-height) * 0.5);
}

h3 {
	font-size: 2rem;
}

li {
	list-style: none;
}

.nav-link {
	color: var(--beige);
}

.splash-image-container {
	text-align: center;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	border-bottom: 5px solid rgba(36,29,5,.45);
	padding-top: var(--main-navbar-height);
	padding-bottom: var(--main-navbar-height);

}

nav#navbar {
	padding: 3vh 4vw;
}

#navbar a.nav-link {
	letter-spacing: .02em;
	font-family: 'freefrm';
	line-height: 1.25em;
}

nav a.nav-link {
	padding: 0.1em 0;
	border-bottom: 1px solid transparent;
}

nav .nav-item:not(:first-child) {
	margin-left: 1.2vw;
}

.navbar {
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

nav#navbar .navbar-toggler-icon {
	position: relative;
	color: #212529 !important;
}

nav#navbar .navbar-toggler-icon i {
	position: absolute;
	top: 4px;
	left: 6px;
	width: 20px;
	height: 20px;
}

.scrolled-top .navbar-toggler-icon i {
	color: var(--beige);
}


.navbar-brand img {
	width: auto;
	max-height: var(--logo-max-height);
}

.buttons-container {
	flex-basis: min-content;
}

.icon {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    box-sizing: content-box;
    line-height: 1;
}

.icon svg {
	stroke: #f5ebdb;
	stroke-width: 2px;
	fill: transparent;
	transition: all 200ms ease;
}

.cart-quantity-container {
	color: #f5ebdb;
	position: absolute;
	font-family: inherit;
	top: -0.75rem;
	right: -0.75rem;
	min-width: 1em;
	font-size: 11px;
	padding: 0.5em;
	text-align: right;
	line-height: 1em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
}

.cart-quantity-container.modify {
	transform: scale(1.2)
}

.socials-container > ul {
	flex-wrap: nowrap;
	padding: 0;
	margin-bottom: 0;
}

.socials-container li:first-child {
	margin-left: 1vw;
}

.icon:not(:first-child) {
	margin-left: 1.2vw;
}


.icon-container {
	margin-left: 1vw;
	display: flex;
}

.socials a {
	text-decoration: none;
	color: var(--beige);
}

.socials.icon {
	width: 21px;
	height: 21px;
	font-size: calc(1em - 20%);
}

.fa.fa-facebook:before {
    content: "\f39e";
}

svg.icon:hover {
	stroke: var(--secondary-accent-color) !important;
	fill: var(--secondary-accent-color) !important;
}

nav a.nav-link:hover, .fa:hover {
	color: var(--secondary-accent-color) !important;
}

#mobile_site_nav li.nav-item {
    width: 100%;
    padding: 1rem;
    border-top: 2px solid gold;
}

.scrolled-down {
	transform:translateY(-100%);
	transition: all 0.3s ease-in-out;
}

.scrolled-up {
	transform:translateY(0);
	transition: all 0.3s ease-in-out;
	/* background-color: rgba(0, 0, 0, 0.4); */
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	background-color: var(--beige);

}

.scrolled-up .nav-link,
.scrolled-up .socials a,
.scrolled-up svg.icon {
	color: var(--gold);
	stroke: var(--gold);
	fill: var(--gold);
}

nav.scrolled-up div.navbar-collapse:not(#mobile_site_nav) .nav-link.active {
	border-color: var(--gold);
}

nav.scrolled-top div.navbar-collapse:not(#mobile_site_nav) .nav-link.active {
	border-color: var(--beige);
}



/* nav.scrolled-up a.nav-link.active {
	border-color: var(--gold);
}



nav.scrolled-top a.nav-link.active {
	border-color: var(--beige);
} */
.scrolled-up .cart-quantity-container {
	color: black;
}
.scrolled-top .nav-link,
.scrolled-top .socials a,
.scrolled-top svg.icon
 {
	color: var(--beige);
	stroke: var(--beige);
	fill: var(--beige);

}

.scrolled-top .cart-quantity-container {
	color: var(--gold);
}

.scrolled-top {
	background-color: transparent;
	border-bottom: none;
}

.splash-header {
    /* white-space: pre-wrap; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
	color: var(--beige);
}

footer {
    padding: 3rem 0 0 !important;
    text-align: center;
    color: var(--gold);
	background-color:var(--dark-hg);
}

.policies {
    font-size: 10px;
}

#mailing_list {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
    justify-content: center;
}

#mailing_list * {
    border-radius: 1px;
}

#mailing_list_email {
    background-color: transparent;
    border-color: wheat;
    color: white;
    margin-right: 4px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
	border-radius: 1px;
}

#mailing_list_submit {
    border-radius: 1px;
    background-color: transparent;
    border-color: white;
    color: white;
    transition: all 333ms ease;
}

#mailing_list_submit:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.form-control:focus {
	box-shadow: none;
}

.page .page_inner {
    background: inherit;
    border-radius: 0 0 6px 6px;
    box-shadow: none;
}

.page_inner {
    padding: 30px;
}

.side_categories {
	background-color: var(--dark-hg);
}

.product-category-list {
    font-family: 'itc-avant-garde-gothic-pro';
    color: #fff;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
	background-color: var(--hunter-green);
	padding-left: 0;
	font-variant: all-petite-caps;
	font-size: 1.5rem;
}

.product-category-list li {
	display: flex;
}

.product-category-link {
    transition: all 300ms ease;
	position:relative;
}

nav > ol.breadcrumb {
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 0;
	background-color: var(--dark-hg);
}

.breadcrumb {
	background-color: inherit;
	font-family:'itc-avant-garde-gothic-pro';
}

.page_inner {
	border-radius: 0;
}

.navbar-padding {
	/* padding-top: 4vw; */
	padding-top: var(--main-navbar-height);
	font-family: 'itc-avant-garde-gothic-pro';
}

.navbar-margin {
	margin-top: calc(var(--main-navbar-height) * 0.5);
}

.navbar-padding:after {
    display: block;
    clear: both;
    content: "";
}

.product_pod .product_price {
	bottom: inherit;
	/* font-family: var(--avant-garde); */
	font-size: 1rem;
}

.page-link {
	font-family: var(--avant-garde);
	background-color: transparent;
	color: inherit;
}

.page-item.disabled {
	background-color: inherit;
}

.pagination {
	font-size: 1rem;
}

span.ig{
	font-size: 1rem;
}

.fb-link:hover, .ig-link:hover {
	color: var(--secondary-accent-color);
}

#nav_primary {
	/* margin-left: var(--bs-gutter-x,1.5rem); */
	background-color: var(--dark-hg);
	padding: 0.5rem 1rem;
	border-radius: 1px;
	font-size: 1.3rem;
	font-weight: 400;
	min-height: 50px;
}


.page-header {
	border-bottom: 1px solid rgba(230, 230, 230, 0.4)
}

#product_pagination_results {
	font-family: 'itc-avant-garde-gothic-pro';
	font-size: 1.25rem;
	font-weight: 200;
}

h3.product-title {
	font-size: 1.5rem;
}

li.breadcrumb-item {
    font-size: 1.25rem;
    font-weight: 200;
}

.product_pod {
	font-family: 'lydiacondensed-bold' !important;
	height: auto;
	overflow: visible;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
}

.image-container {
	display: flex;
	padding-bottom: 66.66%;
	position: relative;
	height: 0;
	margin: 0;
	overflow: hidden;
}

.product-img, .recipe-preview .card-img,
.image-container > img {
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	object-position: 50% 50%;
	object-fit: cover;
	position: absolute;
	border-radius: 0;
	border: 1px solid;
}

.product-img {
	border: 2px inset rgba(188,162,99,.62) !important;
	transition: opacity 1s ease,transform 1s ease;
	transition-property: opacity, transform;
	transition-duration: 1s, 1s;
	transition-timing-function: ease, ease;
	transition-delay: 0s, 0s;
}

.product-img.alt-img {
    opacity: 0;
}

.product-figure {
	margin-bottom: 0;
}

.image-link:hover img.product-img,
.product-figure:hover img.product-img {
	opacity: 0.5;
}

.image-link:hover img.alt-img,
.product-figure:hover img.alt-img {
	opacity: 1;
}

.product, .product-figure {
	text-align: center;
}

.product-figure {
	margin-top: 2rem;
}

.pagination-container {
	margin-top: 1rem;
    padding-top: 1rem;
}

.contact-footer {
	font-size: 2rem;
	padding-bottom: 2rem;
	margin-top: -1rem;
}

.contact-footer li {
	margin: 1rem;
}

.contact-footer .navbar {
	justify-content: center;
}


footer .about-us,
footer .contact-us {
	font-family: Futura,serif;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.75;
	letter-spacing: .01em;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 2rem;
}

footer .about-us h3,
footer .contact-us h3 {
	letter-spacing: 0.1em;
	font-size: 2.25rem;
	color: var(--beige);
}

footer .contact-us {
	margin-bottom: 2rem;
}

footer .site-directory * {
    text-overflow: ellipsis;
	overflow: hidden;
}


.contact-us p {
	line-height: 1.5;
	margin-bottom:0;
}

.contact-us a {
	margin-bottom: 0.5rem;
}

.bg-beige {
	background-color: var(--beige);
}

.text-dark-hg {
	color: var(--dark-hg);
}

.bg-beige a:hover {
	color: var(--hunter-green);
}

.font-lydia {
	font-family: 'lydiacondensed-bold' !important;
}

.font-avant-garde {
	font-family: var(--avant-garde) !important;
}
.font-serif {
	font-family: Futura,serif;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
}

#navbarSupportedContent {
	justify-content: space-evenly;
}

small {
	font-weight: 200;
	font-size: 75%;
	letter-spacing: 0.01em;
	opacity: 0.8;
}

.ig-img-grid {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-row-gap: 0.2rem;
	grid-column-gap: 0.2rem;
}

.ig-img-grid .image-container {
	overflow: initial;
}

.ig-img-grid .image-container>img{
	margin: 5px;
	border-color: rgba(0, 0, 0, 0.2);
}

.input, .select, .textarea {
	padding: 0.75rem;
	border-radius: 5px;
	transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
	border: 1px solid #424353;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 50%), 0px 1px 6px rgb(0 0 0 / 25%);
	font-weight: 400;
}

.select {
	padding-right: calc(12px + 1em)!important;
	padding-top: 32px !important;
	display: block;
	width: 100%
}

input, select, label {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell !important;
	position: relative;
}

.label {
	-webkit-transform: translateY(13px) scale(0.8888888888888888) !important;
	-ms-transform: translateY(13px) scale(0.8888888888888888) !important;
	transform: translateY(13px) scale(0.8888888888888888) !important;
	padding-bottom: max(2px, 0.25rem);
	opacity: 0.8;
	font-weight: 400;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	position: absolute;
	z-index: 1;
	pointer-events: none;
	will-change: transform;
	font-size: 16px !important;
	-webkit-transform-origin: top left!important;
	-ms-transform-origin: top left!important;
	transform-origin: top left!important;
	margin-left: 13px !important;
	margin-bottom: 0.25rem;
}

.container-fluid.no-pad {
	padding-left: 0;
	padding-right: 0;
}

.container-fluid.no-pad > .row {
	margin-left: 0;
	margin-right: 0;
}

.sub-header h2 {
	color: inherit;
	font-weight: 400;
}

.hidden {
	display: none;
}

.modal {
	background-color: #fdfdfd2e;
	z-index: 1200;
}

.nav-link:focus, .nav-link:hover {
	color: inherit;
}

@media (max-width: 1200px) {
	.product-list {
	    grid-template-columns: repeat(3, minmax(0,1fr));
	}
	.mini-shop, .mini-recipe-list {
		grid-template-columns: repeat(auto-fill,minmax(35%, 1fr)) !important;
		grid-auto-columns: minmax(35%, 1fr) !important;
	}
}


@media (max-width: 992px) {
	.product-list {
	    grid-template-columns: repeat(2, minmax(0,1fr));
	}
	.mini-shop, .mini-recipe-list {
		grid-template-columns: repeat(auto-fill,minmax(50%, 1fr)) !important;
		grid-auto-columns: minmax(50%, 1fr) !important;
	}
	.navbar-brand img {
		max-height: 35px;
	}
	.ig-img-grid {
		grid-template-columns: repeat(2, 45%);
	}
	h1 {
		font-size: calc(2.3 * 1rem);
	}
}


@media (max-width: 768px) {
	.product-list {
	    grid-template-columns: repeat(1, minmax(0,1fr));
	}
	.mini-shop, .mini-recipe-list {
		grid-template-columns: repeat(auto-fill,minmax(70%, 1fr)) !important;
		grid-auto-columns: minmax(70%, 1fr) !important;
	}

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dotted-image-filter * {
	z-index: 3
}

.dotted-image-filter:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0);
    background-image: radial-gradient(black 10%, transparent 10%);
    background-size: 4px 4px;
	z-index: 2;
	pointer-events: none;
}

a.headerlink {
    font-size: 0.7em;
    position: relative;
    top: -0.25em;
    opacity: 0;
}

*:hover > .headerlink {
	opacity: 1;
}

.required:after {
    color: #dc3545;
    content: "*";
    display: inline-block;
	position: absolute;
}

.card-body {
    background-color: var(--hunter-green);
}

form {
	font-family:'itc-avant-garde-gothic-pro';
}

/*
table {
	word-break: break-all;
	table-layout: fixed;
	font-size: 1rem;
} */


td {
	padding: 0 0 0 0.75rem;
	vertical-align: middle;
	border: 1px solid;
}

th, td {
	border-color: var(--gold-half-opacity);
	position: relative;
}

thead {
    background-color: var(--hunter-green);
    border-right: 1px solid;
    border-left: 1px solid;
}


.table {
	color: inherit;
	border-color: inherit
}

.table-hover tbody tr:hover {
	color: inherit;
}
.table-hover>tbody>tr:hover>* {
	color: inherit
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
	color: inherit;
}

.fixme {
	color: magenta;
	border-color: magenta;
}

.underline {
	text-decoration: underline;
}

.icon-only {
	padding: 0;
	position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.spinner-border,
.checkmark,
.errormark{
	width: 2rem;
	height: 2rem;
}
.checkmark {
  /* width: 56px;
  height: 56px; */
  border-radius: 50%;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  /* margin: 10% auto; */
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


/* svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
} */
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p.success {
  color: #73AF55;
}
p.error {
  color: #D06079;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

.notification-container {
    position: fixed;
    font-size: 2rem;
    color: var(--merrigold);
    left: 50%;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 2px;
    border: 1px solid black;
    z-index: 4000;
    width: 80vw;
    margin-left: -40vw;
    user-select: none;
    pointer-events: none;
    animation-name: fade-out;
    animation-duration: 5s;
    animation-direction: normal;
}

.helptext {
	font-size: smaller;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.01em;
	/* margin-left: 0.5rem !important; */
}