.basket_title * {
    text-transform: uppercase;
    font-variant-caps: all-petite-caps;
    font-family: 'itc-avant-garde-gothic-pro';
}
.basket_title {
	clear: both;
	border-bottom: 1px solid #e9ecef;
}

.basket_summary, .basket_summary h3, .basket_summary p {
	font-family: var(--avant-garde);
}

.basket_summary h3 {
	font-size: 1.25rem;
	font-weight: 300;
	margin: 0;
}

.basket-items:last-child{
	border-bottom: 2px solid #ced4da;
}

.basket-items:nth-child(even) {
    background: transparent;
}

.basket_summary .price-text {
	text-align: center;
	line-height: 20px;
}

.price-text {
    font-weight: 200;
    font-size: 1rem;
}

input {
	font-weight: normal;
}

form {
	font-size: 1rem;
}

.remove-basket-item {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.01em;
	opacity: 0.8;
	text-align: right;
}

.checkout-quantity {
	min-width: 4em
}

.product-quantity {
	padding: 0.25rem 0.5rem;
}

.size-variant {
	font-size: 12px;
	opacity: 0.75;
	line-height: 20px;
}

#basket_formset .image-container {
	margin-bottom: 10px;
}

.basket-items {
	max-height: 150px;
	padding: unset;
	margin: 10px 0 0;
	border-bottom: 1px solid #ced4da9c;
}

.img-thumbnail {
	padding: 0;
}

.remove-container {
	line-height: 20px;
	color: rgb(190 190 170);
	text-align: center;
}

.order-contents .price-text,
.order-contents h4,
#basket_totals span,
.basket_summary h4,
#mini_basket h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.basket_summary p,
.basket_summary h4 {
    margin-bottom: 0;
}


#mini_basket_container {
	position: absolute;
	right: 0;
	z-index: 1100;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	overflow-y: scroll;
}

#mini_basket {
	height: 100%;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1101;
    right: 0;
}


@media (max-width: 768px) {
	#basket_formset .image-container > img {
		width: 100%;
		height: 100%;
	}

	#mini_basket {
		background-color: var(--hg);
	}

	#basket_formset .image-container {
    	padding-bottom: 80%;
	}
	.basket_summary h3 {
		font-size: 1.1rem;
	}
	.basket-items {
	    max-height: 110px;
	}
}

.btn-close {
	filter: invert(90%);
	opacity: 1;
	margin:1rem;
}