:root {
	--borderRadius: 5px;
	--checkout-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--c-labelRestingTransform:translateY(23px) scale(1);
	--c-labelFloatingTransform: scale(0.85) translateY(-0.85rem);
	--c-inputFloatingPaddingTop: 32px;
	--c-labelFloatingHeight: 20.0938px;
	--c-labelRestingTransform: translateY(23px) scale(1);
	--c-inputFloatingPaddingTop: 32px;
	--c-inputFloatingMarginLeft: 13px;
	--c-inputFloatingMarginRight: 13px;
	--colorBackground: #30313d;
	font-family: var(--checkout-font) !important;
}

.form-floating label {
    color: black;
}

.form-floating>.form-control, .form-floating>.form-select {
    /* height: calc(3.5rem + 2px); */
    /* line-height: 1.25; */
}

button {
}

button[type='submit'] {
	border-radius: 10px;
}

.form-floating>.form-control {
    /* padding: 1rem 0.75rem; */
}

body {
	font-size: 20px;
    background-color: var(--dark-hg);
}

.preview-container {
    font-size: smaller;
    color: grey;
}

form, .billing-card {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell !important;
	background-color: var(--hunter-green);
}
.form-control {
	background-color: inherit;
	border-color: transparent;
}

.hide {
	display: none;
}

.header {
	border-bottom: 1px solid #00000057;
	background-color: var(--hunter-green);
}


input, select, label, div, h1,h2,h3,h4,h5 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell !important;
}

h2 {
	font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

input,select {
	border-radius: 5px !important;

}

#checkout_flow .form-group {
    margin-bottom: 0.5rem;
}

::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: #495057bf;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}
input:not([type="radio"], [type="checkbox"]), button, select {
  -webkit-animation: 1ms void-animation-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* outline: none; */
}

.section-header {
	display: flex;
	justify-content: space-between;
}

.error svg {
  margin-top: 0 !important;
}

.error svg .base {
  fill: #e25950;
}

.error svg .glyph {
  fill: #fff;
}

.error .message {
  color: #e25950;
}

.success .icon .border {
  stroke: #abe9d2;
}

.success .icon .checkmark {
  stroke: #24b47e;
}

.success .title {
  color: #32325d;
  font-size: 16px !important;
}

.success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.success .reset path {
  fill: #24b47e;
}

.checkout-flow section,
.order-contents > .card {
	border: none;
	border-bottom: 1px solid #00000057;
}

.card-title * {
	font-weight: 400;
}

.size-variant {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell !important;
}

button.edit {
	display: contents;
	color: grey;
}

button.edit span {
	font-size: 15px;
    font-weight: 500;
}

.card-header {
	display: flex;
	justify-content: space-between;
}

#error_container {
	text-align: left
}

#error_container.form-group {
	min-height: 2rem;
	background-color: red;
	color: white;
	font-weight: 500;
	font-size: 1rem;
}

.helptext {
	font-size: smaller;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.01em;
	/* margin-left: 0.5rem !important; */
}

.basket-items {
	padding: unset;
	margin-bottom: unset;
}

.total {
	background-color: inherit;
}

.radio {
	position: relative;
}

.checkout-form {
	padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}


input[type="radio"],
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	top: 0.25rem;
	left: 0.5rem;
	position:absolute;
}

input[type="radio"],
input[type="radio"] + label,
input[type="checkbox"],
input[type="checkbox"] + label{
	/* position: absolute; */
	/* top: 0; */
	/* left: 1rem; */
}


input[type="radio"] + label,
input[type="checkbox"] + label{
    padding-left: 1.5rem;
}

.form-floating>label {
	z-index: 1090;
}

/* .input-group {
	padding: 0;
} */

input:focus {
	outline-offset: 0;
}

input.invalid {
	border-color: #CE2C30 !important;
}

.product-quantity {
	line-height: 1rem;
    outline: none;
    border-radius: 1px !important;
    border: none;
}

.product-quantity:focus {
	outline: none;
}

.order-contents .price-text,
.order-contents h4,
#basket_totals span
 {
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
}

#basket_totals .row {
    line-height: 22px;
}

#voucher_form {
	margin-top: 1rem;
}

.order-contents {
	height: 100%;
	position: sticky;
	top: 0.5rem;
}

.form-floating>label {
	left: unset;
}

#promo_code_btn {
	padding: 0 0.75rem;
	border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
	outline: 2px solid var(--gold);
	outline-offset: 1px;
	margin-left: 4px;
	background-color: transparent;
	border: none;
}


#gift_and_promo_code_input {
    border-radius: var(--borderRadius) 0 0 var(--borderRadius) !important;
}

#stripe_payment_container {
	margin: unset;
	margin-bottom: 1rem;
}

/* form .input-group:first-child input,
form .input-group:first-child select {
	margin-left: 0 !important;
}

form .input-group:last-child input,
form .input-group:last-child select
 {
    margin-right: 0 !important;
} */

.error-container.button-container {
	margin-top: 1rem;
}

.basket-items {
    border-bottom: none;
}
.basket-items:last-child {
    border-bottom: 1px solid #ced4da;
}

.preview_container {
	font-size: 0.9rem;
	letter-spacing: 0.01em;
	line-height: 1.3rem;
}

.preview_container span:not(.bold) {
	opacity: 0.8;
}

.preview_container .left-side,
.preview_container .right-side,
{
	padding-left: 0;
}

section {
	border-radius: 2px;
	border: 1px solid #00000042;
}


.basket_summary input {
    font-size: 14px;
    width: 100% !important;
    position: relative;
    text-align: right;
}


.input-group-text {
	position: absolute;
    left: 0;
    height: 100%;
    z-index: 2;
    background-color: unset;
    font-size: 1rem;
    border: 0;
	font-variant-caps: all-petite-caps;
	font-family: 'itc-avant-garde-gothic-pro' !important;
	padding: 0.375rem 0.5rem;
	cursor: text;
}

img.img-thumbnail {
    border-radius: 0;
    border: 1px solid;
}


@media (max-width: 576px)
{
	.checkout-flow,
	.order-contents {
    	padding: 0 !important;
	}
}

#order_contents_table {
	table-layout: fixed;
}

#order_receipt_table td,
#order_contents_table td{
	padding: 0 0 0 0.75rem;
	vertical-align: middle;
	border: 1px solid #bca26387;
}

#order_receipt_table tr,
#order_contents_table tr{
    height: 50px;
}

#order_receipt_table,
#order_contents_table {
    font-size: 12px;
    line-height: 1.1rem;
	word-break: break-all;
}

#order_receipt_table a,
#order_contents_table a, {
	text-decoration: underline;
}

#order_receipt_table .cell-title {
	color: rgb(102 102 102);
	font-size: 14px;
	font-variant-caps: all-petite-caps;
	font-family: 'itc-avant-garde-gothic-pro';
}

.product-td {
	padding-left: 0;
}

#order_contents_table thead {
	background-color: var(--hunter-green);
	border-right: 1px solid;
	border-left: 1px solid;
}

#order_contents_table th {
	border-color: unset;
}

#order_contents_table td {
	max-width: 150px;
}

.order-contents .image-container > img {
	width: 100% !important;
    height: 100% !important;
}

.product-img {
	padding: 0;
}


#billing_form .form-container .row:first-child {
    margin-top: 1rem;
}

#billing_form .form-container .row:first-child > .form-group:first-child,
#shipping_form .row:first-child > .form-group:first-child {
	padding-right: 0.5rem;
}

#billing_form .form-container .row:first-child > .form-group:nth-of-type(2),
#shipping_form .row:first-child > .form-group:nth-of-type(2) {
    padding-left: 0.5rem;
}

