.header {
	background-image: url('/static/img/custom/dehy_hero.jpeg');
	padding-top: 0;
}

.section-image-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	position: relative;
}

.about {
	font-size: 1.5rem;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem; */
}

.content-section {
	min-height: 350px;
	justify-content: center;
	display: flex;
	position: relative;
}

.content-section:not(:first-child) {
	border-top: 12px solid var(--beige);
}

.content-split {
	display: flex;
}

h2 {
	font-family: 'freefrm';
	font-size: 5rem;
}

.img-split {
	padding: 0;
}

.shop-leadin {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 10rem 10rem 0;
	backdrop-filter: grayscale(30%) sepia(0.1);
	-webkit-backdrop-filter: grayscale(30%) sepia(0.1);
}

.subhead {
	margin-bottom: 1rem;
	font-family: Futura,serif;
	font-size: 20px;
}
.monospace {
	font-family: monospace;
	font-size: 16px;
}

.shop-link-container {
	padding-top: 3rem;
}

.shop-link, .btn {
}

.shop-link {
	color: var(--beige);
	background-color: transparent;
	font-weight: 800;

	border: 2px solid var(--beige);
	line-height: 3rem;
}


.btn:hover {
	background-color: var(--beige);
	color: var(--hunter-green);
}

.punchline {
	color: var(--beige);
    letter-spacing: 0.1rem;
}

figure {
	margin-bottom: 0;
}

.mailing-list-container {
	padding: 0.5rem 0 4rem;
	background-color: var(--beige);
	text-align: center;
	position: relative;
	background-image: linear-gradient(to right, rgba(221, 210, 193, 1), rgba(243, 237, 229, 1));
}


#mailing_list_email,
#mailing_list_submit {
	font-family: monospace;
	-webkit-box-shadow: 0 0 10px 5px var(--gold), inset 0 0 6px 3px var(--gold) !important;
	box-shadow: 0 0 10px 5px var(--gold), inset 0 0 6px 3px var(--gold) !important;
	font-size: 1rem;
	border: 2px solid white !important;
	border-radius: 1px !important;
	outline: none !important;
}

#mailing_list_email {
	width: 70%;
	padding: 2rem;
}

#mailing_list_submit {
    line-height: 2rem;
    color: #0000009e;
    padding: 1rem 2rem;
}

.mailing-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding-bottom: 1rem;
	background-image: none;
}

.mailing-list-container .btn {
	/* color: wheat; */
	border-radius: 4px;

	background-color: transparent;
	border-color: wheat;
	color: gray;
}

.image-background-overlay {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	top: 0;
}

.mailing-list-split {
	border-color: #f4ecdc61 !important;
	background-color: white;
	max-height: 600px;
}

.mini-recipe-list, .mini-shop-section {
	flex-wrap: nowrap;
	overflow-x: scroll;
	padding-top: 3rem;
    background-attachment: scroll;
	z-index: 1;

}

.mini-shop-section {
	background: #fffbf4 url(/static/img/textures/diamond_pattern-3.svg) repeat;
	border-color: transparent !important;
	border-bottom: 12px solid white;
}

.mini-shop {
    display: grid;
    grid-column-gap: 2vw;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill,minmax(25%, 1fr));
    grid-auto-columns: minmax(25%, 1fr);
    justify-content: flex-start;
}

header {
	padding-top: 0 !important;
}

.card-body {
	position: relative;
}
.card-body .product-price {
	position: absolute;
	bottom: 1rem;
}

.recipe-preview .card-title {
	font-size: 1.5rem !important;
}

.footer-container {
	border-top: 12px solid white;
}

#recipe_list.content-section {
	border-color: inherit;
}

#wholesale > .image-container {
	padding-bottom: 30%;
	border-left: 0;
	border-right: 0;
}

#wholesale {
	background-size: cover;
	padding: 10% 0;
	background-position: 50% 80%;
}

#wholesale .text-container {
	backdrop-filter: blur(5px) hue-rotate(8deg);
	border-radius: 8px;
	background-color: rgb(255 255 255 / 10%);
	box-shadow: 0 1px 12px rgb(0 0 0 / 10%);
	border: 1px solid rgb(255 255 255 / 5%);
	padding: 20px 40px;
}

.recipe-link-container, .shop-link-container {
	position: sticky;
	top: 0;
	left: 0;
}

.shop-link-container {
	width: 0;
	left: 10px;
}

.recipe-link-container > a,
.shop-link-container > a {
	position: absolute;
	top: -3rem;
	line-height: normal;
	color: var(--dark-hg);
	border-color: var(--dark-hg);
}


.recipe-link-container > a:hover,
.shop-link-container > a:hover {
	background-color: var(--dark-hg);
	color: white;
}
.product-card {
	text-align: center;
}

.quantity-container {
	padding-left: 15px;
}
.button-container {
	padding: 0
}

@media (max-width: 992px) {
	h1 {
		font-size: calc(2.5*1rem)
	}
	h2 {
		font-size: 2.5rem;
	}
	header .col-10 {
		padding-top: var(--main-navbar-height);
	}
}

input#id_quantity,
.variant-select-container:before {
	color: var(--hunter-green);
}

.plus-minus-btn,
span.variant_price {
	color: rgba(0, 136, 0, 1);
}
