header {
	padding-top: var(--main-navbar-height);
}

.recipe-card .card-body {
	border-radius: 1px;
}

.recipe-card {
	box-shadow: 2px 3px 6px rgb(28 28 28 / 60%);
    -webkit-box-shadow: rgb(28 28 28 / 60%) 2px 3px 6px;
	margin: 0.5rem 0.75rem;
	background: linear-gradient(45deg, var(--dark-hg), var(--hg), var(--dark-hg));
	padding: 2rem;
}


.recipe-card:not(.preview) {
	padding: 3% 5%;
}

.recipe-info {
	font-size: 0.75rem;
	color: var(--dark-gray);
	font-family: monospace;
}

.recipe-card .card-title {
	font-size: 2rem;
	font-variant: all-petite-caps;
	font-weight: 400;
}

.recipe-card .directions-list p, .recipe-card .ingredients-list p{
	font-family: Lusitana,Georgia,serif;
	font-size: 1.25rem
}

.recipe-card .ingredients-list li {
	list-style:square;
}

.recipe-card .directions-list li {
	list-style: decimal;
}

#recipe_list, .mini-recipe-section {
	/* background: url(/static/img/textures/bg_subtle_dots.png) repeat scroll 0 0; */
	background: rgba(0, 0, 0, 0.75) no-repeat 60% 50% url(/static/img/custom/dehy-1303.resize.jpeg);

	border-top: 22px solid #000000fc;
	background-size: cover;
	padding-bottom: 16px;
}

.recipe-description {
	font-family: serif;
	line-height: 1.2rem;
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

.recipe-card.recipe-preview {
	max-height: 400px;
	/* overflow-y: scroll; */
}

.recipe-card .card-img {
	margin-bottom: 1rem;
}

.recipe-card li {
	line-height:1;
}