:root {
	--shop-input-padding: 1.5rem;
	--shop-input-border: 1px solid grey;
}

form {
	font-family: itc-avant-garde-gothic-pro !important;
	font-weight: 400;
	font-size: 1.25rem;
}

span.not_price_color {
	font-family: var(--avant-garde);
	font-weight: 100;
	display: contents;
}

span.variant_price {
	font-family: var(--avant-garde);
	color: var(--beige);
	display: contents;
	font-weight: 100;
}

.input-quantity-container {
    display: inline-flex;
    justify-content: center;
	border: 2px solid;
	border-bottom: 0;
	border-top: 0;
}

.product_main span.not_price_color,
.product_main span.variant_price  {
	font-size: 1.5rem;
}

.variant-select-container, .quantity-select-container {
    position: relative;
    transition: opacity .1s ease-out;
    text-align: left;
    box-sizing: border-box;
    line-height: normal;
    color: inherit;
    /* font-size: calc(1.1 * 1rem); */
}

.quantity-select-container {
    display: flex;
    justify-content: center;
}

/* .quantity-select-container.active {
	outline-width: 2px !important;
	outline-style: solid !important;
	outline-offset: 4px !important;
} */

.variant-select-container, input#id_quantity{
	padding: var(--shop-input-padding);
	/* border: var(--shop-input-border); */
}

.variant-select-container {
	opacity: 0;
}

input#id_quantity {
	color: var(--beige);
	width: 100%;
	text-align: center;
	border: none;
	padding: calc(var(--shop-input-padding) - 1px);
}

.variant-option select, input#id_quantity {

    height: 100%;
    font-size: var(--shop-input-padding);
	background: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-weight: 400;
}

.variant-option select {
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
	padding-right: 3.5rem;
	color: rgba(0,0,0,0);
	border: none;
}

.variant-option select:focus {
	box-shadow: none;
	border-color: transparent;
}

.variant-select-container[data-text] {
    opacity: 1;
	padding-right: 2.75rem;

}

.variant-select-container,
.input-quantity-container {
	color: var(--beige);
	border-color: var(--gold);
}

.variant-select-container:before {
    content: attr(data-text);
    display: inline-block;
}

.variant-select-container:after {
	content: '';
	position: absolute;
	right: 1rem;
	transform: rotate(45deg);
	border-bottom: 1px solid;
	border-right: 1px solid;
	height: 1rem;
	width: 1rem;
	transform-origin: top;
	pointer-events: none;
	font-size: 1rem;
    border-bottom-color: #bca263;
    border-right-color: #bca263;

}

.product-list-container {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
}

.category-dropdown {
	border: 2px solid #faa61c;
    border-radius: 9px;
	padding-left: 5px;
	display: inline-flex;
	padding-right:0;
	width: fit-content;
}

.category-dropdown a.dropdown-toggle {
	color: var(--secondary-accent-color);
    letter-spacing: 0.1em;
    font-size: 1rem;
}

.dropdown-toggle::after {
	margin-right: 0.5rem;
}

.category-selection-label {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 0.6em; */
}

.product-info {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.a-label {
	position: absolute;
	font-family: 'itc-avant-garde-gothic-pro' !important;
	line-height: 2rem;
	left: 0;
	padding: var(--shop-input-padding);
}

.add-item-to-cart-btn,
#size_selector,
.variant-size-selector {
	outline-color: var(--gold) !important;
	border: 2px solid var(--gold);
	border-radius: 5px;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.variant-size-selector:focus {
	outline: 0;
}

.add-item-to-cart-btn {
    background-color: var(--gold);
    color: var(--dark-hg);
    border: 2px solid var(--gold);
	border-radius: 5px;
	width: 90%;
}


.plus-minus-btn {
	background-color: transparent;
	line-height: 20px;
	color: var(--beige);
}

.plus-minus-btn:hover {
	background-color: var(--gold);
	color: var(--dark-hg);
}

.plus-minus-container i {
	pointer-events: none;
}

.minus-container {
    text-align: right;
}
.plus-container {
	text-align: left;
}


.button-container {
    padding-left: 0;
    padding-right: 3px;
    text-align: right;
}

.button-container-lg {
    text-align: right;
	margin-left: auto;
}
.button-container-lg > button {
	width: 100%;
}


input[name='quantity']:focus,
input.quantity:focus
 {
	outline: none
}

.variant-option {
	margin-bottom: 1rem;
}

.add-to-basket {
	margin-right: unset;
}
.compact .variant-option select,
.compact input#id_quantity {
    font-size: 1.5rem;
	padding: 1rem;
}

.compact input#id_quantity {
    padding: calc(0.375rem - 2px) 3rem;
}

.compact .plus-minus-btn {
	font-size: 16px;
	padding: 0;
    height: 100%;
    width: 100%;
	border: none;
	border-radius: 0;
}


.compact .quantity-select-container {
    border: 2px solid;
    justify-content: space-around;
	border-radius: 5px;
	line-height: 1rem;
}

.compact .variant-select-container[data-text] {
	padding: 1rem;
}
.for-screen-reader-only,
.is-sr-only {
	border: none!important;
	clip: rect(0,0,0,0)!important;
	height: 0.01em!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	white-space: nowrap!important;
	width: 0.01em!important;
}

.compact .minus-container,
.compact .plus-container
{
    text-align: unset;
}

.quantity-container {
	padding-left: 18px;
}

.carousel-indicators li.active {
	outline: 4px solid peachpuff;
	opacity: 1 !important;
}

#product_gallery .carousel-inner > .carousel-item {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#product_gallery .carousel-inner > .carousel-item > img {
    width: 100%;
	max-height: unset;

}

.img-thumbnail {
	position: relative;
}

.carousel-scroll {
	position: absolute;
	z-index: 2;
	border-radius: 50%;
	background: 0 0;
	padding: 0;
	width: 75px;
	height: 75px;
	top: 40%;
	background-color: #f8f9fa;
	border-color: transparent;
	opacity: 1;
	box-shadow: 2px 3px 6px rgb(28 28 28 / 60%);
}

.carousel-scroll-right:hover {
	transform: scale(-1.1, 1.1);
	opacity: 1
}

.carousel-scroll-left:hover {
	transform: scale(1.1, 1.1);
	opacity: 1

}

.carousel-scroll-right {
	transform: scaleX(-1) scaleY(1);
}

.carousel-control-prev, .carousel-control-next {
	opacity: 1
}

#confirm_remove_btn,
#cancel_remove_btn {
	border: 1px solid rgb(0 0 0 / 25%);
	border-radius: 0;
	border-left: 0;
}



#confirm_remove_btn:hover,
#cancel_remove_btn:hover {
    background-color: white !important;
    color: black;
}

#confirm_item_removal {
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	color: rgba(62, 62, 62, 1);
}

#confirm_item_removal .modal-content {
	background-color: rgba(238, 240, 246, 1)
}

#confirm_item_removal .modal-title {
	font-variant: all-petite-caps;
}

