.card-list-grid {
	grid-gap: 20px 20px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.content-section {
	min-height: 100px;
    padding-top: 10vmax;
    padding-bottom: 10vmax;
	color: var(--beige);
}

.content-section:not(.wholesale) {
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	background-image: url('/static/img/custom/dehy-340.small.jpg');
}

.content-section:not(.wholesale) p{
	font-size:1.2rem;
}

.content-section.wholesale {
	background-image: url('/static/img/textures/dehy_bg_green_textured.jpeg')
}

.card {
	border-radius: 2px;
}

.card-title {
	font-size: 2.3rem;
	color: var(--gold);
	text-align: center;
	margin-top: 1rem;
}

.card-text {
	font-size: 1.75rem;
}
.card-body {
	background-color: var(--beige);
	color: var(--hg);
}

.content-section .image-container {
	padding-bottom: 90%;
}